/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import "normalize.less";
@import "mixins.less";
@import "colors.less";
@import "jquery.mobile.override.less";

@font-face {
    font-family: "BebasBold";
    src: url('../fonts/BebasNeue-Bold.ttf?v=2.2.0') format('truetype');   
        /* Make sure you defined the correct path, which is related to
            the location of your file `my_css.css` */ 
    }

* {
		-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
		-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
		-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
		-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
		font-family:Arial, 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, sans-serif;
		font-size:12px;
		margin:0px;
		padding:0px;
		width:100%;
		text-align:center;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Portrait layout (default) */
.app {
		//background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
		position:absolute;             /* position in the center of the screen */
		left:50%;
		top:50%;
		height:50px;                   /* text area height */
		width:225px;                   /* text area width */
		text-align:center;
		padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
		margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
																	 /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
		.app {
				background-position:left center;
				padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
				margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
																			/* offset horizontal: half of image width and text area width */
		}
}

h1 {
		font-size:32px;
		font-weight:normal;
		font-family:"BebasBold";
		margin:0px;
		overflow:visible;
		padding:0px;
		text-align:center;

}
p {
	font-style: 'Open Sans';
	font-size:15px;
	line-height:19px;
	margin:8px auto;
	text-align:left;
}

.event {
		border-radius:4px;
		-webkit-border-radius:4px;
		color:#FFFFFF;
		font-size:12px;
		margin:0px 30px;
		padding:2px 0px;
}

.event.listening {
		background-color:#333333;
		display:block;
}

.event.received {
		background-color:#4B946A;
		display:none;
}

@keyframes fade {
		from { opacity: 1.0; }
		50% { opacity: 0.4; }
		to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
		from { opacity: 1.0; }
		50% { opacity: 0.4; }
		to { opacity: 1.0; }
}
 
.blink {
		animation:fade 3000ms infinite;
		-webkit-animation:fade 3000ms infinite;
}


html {
	 height: 100%;
}
body {
	min-height: 100%;
	padding:60px 0;
	overflow-x: hidden;
	background:white;
}
.clickable {
	cursor:pointer;
}
.container {
	max-width:600px;
	width:92%;
	margin:auto;
}
.containerQuiz {
	max-width:600px;
	width: ~"calc(100% - 16px)";
	margin:8px auto 0;
	.opac0;
	&.active {
  		.opac1;	
	}	
}
.containerPractice {
	max-width:600px;
	width: ~"calc(100% - 32px)";
	margin:12px auto 0;	
}
.container260 {
	width:260px;
	margin:auto;
}
.container270 {
	width:270px;
	margin:auto;
}
.container290 {
	width:290px;
	margin:auto;
}


.splasLogo{
	width: 200px;
	position:absolute;
	left:50%;
	top:50%;
	margin: -100px 0 0 -100px;
}

#ekran-splash{
	background-color: #FFF;
}

@ff2: 'Inconsolata Bold', sans-serif, serif;
@headerheight: 70px;
@headerbg: darken(@gocyan, 5%);
header {
	color:white;
	font-size:24px;
	font-weight:normal;
	line-height:@headerheight - 10px;
	background:@yurume1 ;
	position: fixed;
	left:0;
	top:0;
	height:@headerheight;
	width: 100%;
	z-index: 100;
	.boxShadow(0 1px 3px rgba(0, 0, 0, 0.2));
	.inner, .inner2 {
		.row;
		margin:auto;
		padding:0px;
		position:relative;
		height:100%;
		line-height:40px;
		z-index:10;
		.logo {
			padding:15px;
			.ileft {
				margin-right:10px;
			}
			.iright {
				margin-left:10px;
			}
			.yazilar {
				display:inline-block;
				vertical-align:top;
				.buyuk {
					color: #fff;
					font-weight: 700;
					line-height: 40px;
					font-size: 26px;
					font-family:"BebasBold";
				}
			}
			img {
				height:40px;
				vertical-align:top;
				margin:0 4px;
			}
		}
		.geri, .ses, .orta, .anasayfa, .turartir {
			float: left;
			width: @headerheight;
			height: @headerheight;
			line-height: @headerheight;
			text-align: center;
			font-size: 30px;
			margin:0px;
		}
		.orta {
			float:none;
			display:inline-block;
			vertical-align:top;
			color: rgba(0,0,0,0.2);
    		font-size: 40px;
		}
		.geri{
			cursor: pointer;
		}
		.ses,.anasayfa, .turartir {
			float: right;
			cursor: pointer;
			&.zmdi-volume-off {
				opacity:0.5;
			}
		}
		.practicebadge {
			display: inline-block;
			vertical-align:top;
			margin-top:10px;
			.opac0;
			.transitionAllTime(200ms);
			img.badge {
				display: block;
				width:60px;
				height:60px;
			    margin: auto;
			}
			&.active {
				.opac1;
			}
		}
	}
	.inner2 {
		display: inline-block;
		vertical-align:top;
	}
}
.hastainputlar {
	text-align:center;
	padding-top:15px;
	.satir {
		.row;
		margin-bottom:15px;
		.sutun2 {
			width:~"calc((100% - 5px)/2)";
			float:left;	
			&:first-child {
				margin-right:5px;
			}
		}
		.sutun3 {
			width: ~"calc((100% - 10px)/3)";
			float:left;
			padding:0;
			&:first-child, &:nth-child(2) {
				margin-right:5px;
			}
		}
		label {
			display: block;
			padding-left: 5px;
			font-size: 11px;
			font-weight: 600;
			margin-bottom: 3px;
			color:@fuiconcrete;
			&.warning {
				color:red;
			}
		}
	}
	input {
		text-align:center;
		background:@fuicloud;
		border:2px solid @fuiconcrete;
		outline-width: 0;
		border-radius:5px;
		font-family:'Open Sans', Arial;
		font-weight:bold;
		font-size:20px;
		letter-spacing: -0.6px;
		&.yuzdeyuz {
			float:left;
			width: 100%;
		}
		&.yuzdeelli {
			width: 49%;
			float:left;
			margin-right:2%;
			&.yansiz {
				margin-right: 0;
			}
		}
		&:disabled {
			color:@fuiconcrete;
		}
	}
	.select-style {	
		text-align:center;
	    overflow: hidden;
		background:@fuicloud;
		border:2px solid @fuiconcrete;
		outline-width: 0;
		border-radius:5px;
		font-family:'Open Sans', Arial;
		font-size:20px;
		font-weight:bold;
		&.yuzde33 {
			width: 32%;
			float:left;
			margin-right:2%;
			&.yansiz {
				margin-right: 0;
			}
		}
		span {
			font-size:20px;
			color:#A9A9A9;
			height: 44px;
    		line-height: 44px;
    		letter-spacing: -0.6px;
    		&.kucuk {
    			font-size:16px;
    		}
		}
	}

	.select-style select {
	    padding: 5px 8px;
	    width: 100%;
	    border: none;
	    box-shadow: none;
	    background: transparent;
	    background-image: none;
	    -webkit-appearance: none;
	}

	.select-style select:focus {
	    outline: none;
	}
}

.genelgosterge {
	font-family:"BebasBold";
    font-size: 24px;
    letter-spacing: -1px;
	text-align:center;
	line-height:1;
	&.iri {
		font-size:34px;
	}
	&.dev {
	    font-size: 96px;
	}
	.gri {
		color:@fuiconcrete;
	}
}

#ekran-ana, #ekran-yurumetesti1kosullari,#ekran-yurumetesti1kosullari2, #ekran-hastabilgigirisi, #ekran-ilknabiz, #ekran-testebasla, #ekran-sonnabiz, #ekran-sonsorular, #ekran-sonuclar, #ekran-hastakayitlari, #ekran-tekilhastakaydi {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:cover;
	background-position:top;
	overflow:visible;
	overflow-x: hidden;
}
#ekran-hastabilgigirisi, #ekran-sonsorular {
	.wrapper {
		padding-bottom:300px;
	}
}
//#ekran-ana {
//	//background-image:url(../img/bg.png);
//	background:@color1a;
//	header {
//		background:@color1b;
//	}
//}
//#ekran-levelsecim {
//	background-image:none;
//	header {
//		.boxShadowMeta;
//		background:@color1b;
//	}
//}

.olcumbutonu {
    font-family: "BebasBold";
    font-size: 40px;
    line-height: 1;
    padding: 25px 30px 20px;
    background: @yurume1;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    border-bottom: 5px solid rgba(0,0,0,0.2);
    &.yesil {
    	background:@gogreen ;
    }
    &.sonlandir {
    	background:@fuisunflower;
    	color:black;
    }
}
.sonuclar {
	.sonucitem {
	    width: 48%;
	    float: left;
	    padding: 8px;
	    margin: 0 1% 20px;
	    font-weight: 700;
	    background: #ecf0f1;
	    color: #666;
	    border: 1px solid rgba(0,0,0,0.1);
	    border-radius: 3px;
	    font-size:11px;
		&.ortali {
			margin-left:26%;
		}
		span {
			color:black;
			display: block;
			font-size:24px;
			font-family:"BebasBold";
		}
	}
	h5 {
		font-size:16px;
		font-family:"BebasBold";
		line-height:1.2;
	}
}
.gorunmez {
	visibility:hidden;
}

#ekran-hastakayitlari {
	ul {
		padding:20px 0;
		display: block;
		li {
			.row;
			display: block;
			font-size:11px;
			padding:9px 7px 6px;
			line-height:1;
			&:nth-child(2n+1) {
				background:@fuicloud;
			}
			span, i {
				float:left;
				height: 20px;
				line-height:20px;
				overflow:hidden;
				text-align:left;
			}
			span {
				&.kayittarihi {
					width: 100px;
					color:@fuiconcrete;
				}
				&.kayitadi {
					width:~"calc(100% - 200px)";
					margin-right:5px;
				}
				&.testtipi {
					width:40px;
				}
			}
			i {
				font-size:20px;
				
			}
			i.kaydisil {
				color:@fuiconcrete;
				width:15px;
				margin-right:15px;
			}
			i.kaydagit  {
				float:right;
				text-align:right;
				width:25px;
			}

		}
	}
}

.genelbilgiler {
	font-size:24px;
	span {
		padding: 2px;
		display: inline-block;
		font-weight: bold;
		letter-spacing: -1px;
		&#tekilkayitBoyu {
			&:after {
				content:" cm";
			}
		}
		&#tekilkayitAgirlik {
			&:after {
				content:" kg";
			}
		}
		&#tekilkayitTarihi {
			font-weight:normal;
			font-size:15px;
		}
	}
}

ul.digerbilgiler {
	padding-bottom:30px;
	li {
		.row;
		display: block;
		font-size:13px;
		padding:9px 7px 6px;
		//margin:7px 0 0;
		line-height:20px;
		&:nth-child(2n+1) {
			background:@fuicloud;
		}
		span {
			&.label {
				float:left;
				text-align:left;
				&:after {
					content:":";
					float:right;
				}
			}
			&.deger {
				float:right;
				text-align:right;
			}
			&#tekilkayitVKI {
				&:after {
					content:" kg/m²";
				}
			}
			&#tekilkayitSolunumFrekansi{
				&:after {
					content:" solunum/dk";
				}
			}
			&#tekilkayitSpo2{
				&:before {
					content:"% ";
				}
			}
			&#tekilkayitOksijenDestegi{
				&:after {
					content:" l/dk";
				}
			}			
		}
	}
}

//#ekran-tekilhastakaydi {
//	display:block !important;
//	background:white;
//}



















.ekran-quiz {
	background-color:#f0f0f0;
}

.wrapper {
	position:absolute;
	top:@headerheight;
	left:0;
	width: 100%;
	.verAlignParent;
	height:~"calc(100% - @{headerheight})";
	z-index:10;
	&.sonucWrap {
		height:100%;
		top:0;
	}
	&.quizWrap {
		height:~"calc(100% - @{headerheight} - 50px)";
		top:~"calc(@{headerheight} + 50px)";
	}	
}
.content {	
	.verAlignChild;
	.anaikon {
		display:block;
		font-size:120px;
		color:@yurume1;
	}
}

.menu {
	width:280px;
	max-width:90%;
	padding-top:20px;
}
@menubuttonheight : 70px;
.menubutton {
	font-size:32px;
	font-weight:bold;
	font-family:"BebasBold";
	height:@menubuttonheight;
	min-width:120px;
	line-height: @menubuttonheight + 2px;
	padding:0 20px;
	.borderRadius(5px);
	color:white;
	margin:0px auto 10px;
	//.boxShadowMeta;
	position:relative;
	cursor: pointer;
	//border-bottom: 3px solid rgba(0,0,0,0.2);
	.boxShadow(0 1px 1px rgba(0, 0, 0, 0.1));
	background:@yurume1;
	.yuzde {
		position: absolute;
		top: 8px;
		right: 8px;
		color: rgba(0,0,0,.8);
		font-size: 11px;
		text-shadow: none;
		line-height: 1;
		font-weight: bold;
	}
	i.ana {
		margin-left: 5px;
		border: 2px solid #00bcd4;
		border-radius: 50%;
		width: 38px;
		height: 38px;
		line-height: 36px;
		font-size: 21px;
	    text-indent: -1px;
	}

	&.ikilikapsar {
		background:none;
		.boxShadow0;
		padding:0;
		.buttonyarim {
			.boxShadow(0 1px 1px rgba(0, 0, 0, 0.1));
			background:white;
			float: left;
			width:~"calc(100% - 100px)";
			.borderRadius(5px);
			height: 66px;
			line-height: 68px;
			font-size:32px;
			i {
				margin:0 1px;
			}
			&:first-child {
				
			}
			&:last-child {
				font-size:40px;
				width:90px;
				margin-left:10px;
			}
		}
	}
}

h2.menubaslik {
	.row;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    margin: 0 auto 1px;
    background: lighten(@gocyan, 5%);
    padding: 15px 5px 11px;
    .borderRadius(3px 3px 0 0);
    line-height: 12px;
    max-width:280px;
}
#dilsecimi {
	.row;
	margin:0px auto 20px;
	width: 100%;
	background:lighten(@gocyan, 5%);
	max-width:280px;
	.borderRadius(0 0 3px 3px);
	padding:5px;
	.dilcontainer {
		float:left;
		width: 45px;
		height:45px;
		padding: 5px;
		cursor: pointer;
		&.active {
			.dildegis {
				opacity:1;
			}
		}
		.dildegis {
			width: 35px;
			height:35px;
			.borderRadius(2px);
			background-size:100%;
			opacity:0.3;
			.boxShadowMeta;
			&.en {background-image:url(../img/dil/en.png);}
			&.tr {background-image:url(../img/dil/tr.png);}
			&.fr {background-image:url(../img/dil/fr.png);}
			&.es {background-image:url(../img/dil/es.png);}
			&.ru {background-image:url(../img/dil/ru.png);}
			&.de {background-image:url(../img/dil/de.png);}
			&.pt {background-image:url(../img/dil/pt.png);}
			&.pl {background-image:url(../img/dil/pl.png);}
			&.it {background-image:url(../img/dil/it.png);}
			&.nl {background-image:url(../img/dil/nl.png);}
			&.sv {background-image:url(../img/dil/sv.png);}
			&.id {background-image:url(../img/dil/id.png);}
			&.da {background-image:url(../img/dil/da.png);}
			&.no {background-image:url(../img/dil/no.png);}
			&.ar {background-image:url(../img/dil/ar.png);}
			&.cs {background-image:url(../img/dil/cs.png);}
			&.fa {background-image:url(../img/dil/fa.png);}
			&.ro {background-image:url(../img/dil/ro.png);}
			&.th {background-image:url(../img/dil/th.png);}
			&.ms {background-image:url(../img/dil/ms.png);}
			&.uk {background-image:url(../img/dil/uk.png);}
			&.hu {background-image:url(../img/dil/hu.png);}
			&.fi {background-image:url(../img/dil/fi.png);}
			&.vi {background-image:url(../img/dil/vi.png);}
			&.ko {background-image:url(../img/dil/ko.png);}
			&.ja {background-image:url(../img/dil/ja.png);}
			&.zs {background-image:url(../img/dil/zs.png);}
			&.zt {background-image:url(../img/dil/zt.png);}
			&.bg {background-image:url(../img/dil/bg.png);}
			&.az {background-image:url(../img/dil/az.png);}
		}
	}
}
.bgpembe {
	.rgbaColorIn(@gopink, 92%);
	background-color: @result;
}
.bgkirmizi {
	.rgbaColorIn(@gored, 100%);
	background-color: @result;
}
.bgsari {
	.rgbaColorIn(@color2a, 100%);
	background-color: @result;
}
.bgcyan {
	background-color:@color1b;
	color:@color2a;
}
.bgmavi {
	.rgbaColorIn(@goblue, 100%);
	background-color: @result;
}
.bgyesil {
	.rgbaColorIn(@gogreen, 100%);
	background-color: @result;
}
.bggri {
	.rgbaColorIn(@gobluegray, 92%);
	background-color: @result;
}
.shadow {
		-webkit-filter: drop-shadow( -5px -5px 5px #000 );
						filter: drop-shadow( -5px -5px 5px #000 ); /* Same syntax as box-shadow */
}
.tiklanamaz {
	pointer-events: none;
}
.opac0 {
	opacity:0;
	visibility:hidden;
	.transitionAllTime(150ms);
}
.opac1 {
	opacity:1;
	visibility:visible;
}
#levelmenu, #levelfinalcontainer {
	.row;
	margin:40px auto 0;
	width:90%;
	max-width:300px;
	.levelbutton {
		.menubutton;
		height:80px;
		background:white;
		padding:0 0px;
		margin-bottom:25px;
		opacity: 0.33;
		pointer-events: none;
		.levelbadge {
			float:left;
			width:100px;
			margin-left:10px;
			img.badge,img.locked {
				margin-top: -20px;
				height: 100px;
				display: block;
				.brightness(1);
			}
			img.locked {
				display: none;
			}
		}
		.levelstars {
			position: absolute;
			width: ~"calc(100% - 120px)";
			right: 10px;
			top: 0;
			line-height: 63px;
			font-size: 38px;
			i {
				width: 40px;
				color:@fuisilver;
			}
			&.perfect {
				i {
					color:@fuisunflower;
				}
			}
			&.great {
				i:nth-child(1), i:nth-child(2) {
					color:@fuisunflower;
				}
			}
			&.good {
				i:nth-child(1) {
					color:@fuisunflower;
				}
			}
		}
		.levelnumber {
			width: ~"calc(100% - 120px)";
			position: absolute;
			right: 10px;
			top: 54px;
			line-height: 14px;
			font-size: 15px;
			color: @fuisilver;
			font-weight: 700;
			letter-spacing: 0px;
		}
		.levelname {
			.boxShadowMeta;
			position: absolute;
			bottom: 4px;
			font-size: 10px;
			line-height: 13px;
			padding: 4px 6px 1px;
			left: 20px;
			border-radius: 1px;
			background: rgba(241,196,15,.95);
			border: 0px solid rgba(0,0,0,.3);
			border-width: 0px 0px 1px 0;
			letter-spacing: -0.4px;
			color: #000;
			min-width: 80px;
			visibility:hidden;
		}
		&.enabled {
			opacity:1;
			pointer-events: auto;
			.levelbadge {
				img.badge {
					display:block;
					.brightness(1);
					opacity:1;
				}
				img.locked {
					display: none;
				}
			}
			.levelname {
				visibility:visible;
			}
		}
	}
}
#levelmenu {
	.levelbutton {
		&:first-child {
			opacity:1;
			pointer-events: auto;
		}
	}
}
#levelfinalcontainer {
	.row;
	margin:0px auto 20px;
	width:90%;
	max-width:300px;
	//.levelbutton {
	//	.levelbadge {
	//		img.badge, img.locked {
	//			margin-top: -20px;
	//			height: 100px;
	//			display: block;
	//		}
	//		img.badge {
	//			display:none;
	//		}
	//	}
	//	.levelname {
	//		span {
	//			display:none;
	//		}
	//		&:before {
	//			content:"???";
	//		}
	//	}
	//	&.enabled {
	//		.levelbadge {
	//			img.badge {
	//				display:block;
	//			}
	//			img.locked{
	//				display:none;
	//			}
	//		}
	//		.levelname {
	//			&:before {
	//				display:none;
	//			}
	//			span {
	//				display:inline;
	//			}	
	//		}
	//	}
	//	
	//}
}
#ekran-sonuc {
	//background: @gored;
	.zmdi-thum-down {
		display:none;
	}
	i {
		display:inline-block;
		vertical-align:top;
	}
	.malubiyet {
		display:none;
		font-size:90px;
		line-height: 1.2;
		margin-top:50px;
		color:@fuisunflower;
		position: relative;
		i {
			position: relative;
    		z-index: 2;			
		}
		.siyaharkalik {
			background:black;
			position:absolute;
			width: 20px;
			height:50px;
			top:20px;
			left:~"calc(50% - 10px)";
			z-index: 1;	
		}
	}
	.yildizlar {
		font-size:90px;
		line-height: 1.2;
		margin-top: 50px;
		i {
			width: 90px;
			color:rgba(0,0,0,0.2);
		}
		&.perfect {
			i {
				color:@fuisunflower;
			}
		}
		&.great {
			i:nth-child(1), i:nth-child(2) {
				color:@fuisunflower;
			}
		}
		&.good {
			i:nth-child(1) {
				color:@fuisunflower;
			}
		}
	}
	.sonucdurumu {
		max-width:600px;
		width:92%;
		margin:auto;
		img {
			display:block;
			margin:auto;
			&.badge {
				width:190px;
			}
		}
		.isimlik {
			margin:-30px auto;
			position: relative;
			.badgeboard {
				display:block;
				width:260px;
				height:auto;
			}
			.isim {
				position:absolute;
				width: 100%;
				text-align:center;
				left:0;
				top:18px;
				font-size:15px;
				font-weight:bold;
				letter-spacing:-1px;
				text-align:center;
				line-height:1.1;
				.seviye {
					font-size:11px;
					font-weight:bold;
					letter-spacing:0px;
				}
			}
		}
	}
	.nav {
		.row;
		i {
			font-size: 50px;
			width: 76px;
			height:76px;
			line-height:76px;
			background:white;
			color:@gocyan;
			margin:0 5px;
			.borderRadius(5px);
			vertical-align:top;
			&.zmdi-arrow-right, &.zmdi-arrow-left {
				font-size:48px;
			}
		}
	}
	&.kaybetti {
		background:@gored;
		.nav {
			i {
				color:@gored;
				&:last-child {
					display: none;
				}
			}
		}
		.yildizlar {
			display:none;
			i {
				color:rgba(0,0,0,0.2);
			}
		}
		.malubiyet {
			display:block;
		}
	}
	&.kazandi {
		&.yildizla1 {
			.yildizlar i:nth-child(1) {
				color:@fuisunflower;
			}
		}
		&.yildizla2 {
			.yildizlar i:nth-child(1),
			.yildizlar i:nth-child(2) {
				color:@fuisunflower;
			}
		}
		&.yildizla3 {
			.yildizlar i:nth-child(1),
			.yildizlar i:nth-child(2),
			.yildizlar i:nth-child(3) {
				color:@fuisunflower;
			}
		}
	}
	&.sonrakineGecemesin {
		.nav {
			i:last-child {
				display:none;
			}
		}
	}
}
#flashcards {
	.opac0;
	&.active {
		.opac1;
	}
}
.flip {
  	-webkit-perspective: 0;
    position: relative;
}
.flip .card.flipped {
	-webkit-transform: rotatex(-180deg);
	transform: rotatex(-180deg);
}
.flip .card {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: 0.4s;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.4s;
}
.flip .card .face {
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
  	z-index: 2;
    text-align: center;
}
.flip .card .front {
  	position: absolute;
  	z-index: 1;
    color: white;
    cursor: pointer;
}
.flip .card .back {
  	-webkit-transform: rotatex(-180deg);
  	transform: rotatex(-180deg);
	//background: rgba(255,255,255,1);
	//background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	//background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	//background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	//background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	//background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	//background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background:@fuicloud;
    color: black;
    cursor: pointer;
}

#tekrarla, #levelEkran, #sonrakiLevel{
	cursor: pointer;
}

.flip {
	.card {
		cursor: pointer;
		.dinamikKutuOranli(2, 16px, 75%);
		.face {
			.inner {

			}
			&.front {
				.metacard-1;
				.borderRadius(3px);
				img {
					position:absolute;
					width: 102%;
					height:102%;
					left:-1%;
					top:-1%;
					.borderRadius(4px);
				}				
			}
			&.back {
				.metacard-1;
				.borderRadius(3px);
				.yaziContainer{
					.verAlignParent;
					.yaziGorsel {
						.verAlignChild;
						img {
							position: absolute;
							left:5px;
							top:5px;
							height:20px;
							width: auto;
							display:inline-block;
							margin:auto;
						}
						.yazi {
							font-size:17px;
							font-weight:bold;
							line-height:17px;
							padding:5px 10px 0;					
						}
					}
				}
			}
		}
	}
}
.practiceLevelSecim {
	padding:12px 10px 0;
	display: inline-block;
	margin:auto;
	.ui-select {
		margin-top: 5px;
    	margin-bottom: 5px;
    	.ui-btn {
    		padding:0;
    	}
    	span {
    		background: white;
			padding: 12px 15px 10px;
			font-weight: bold;
			border-radius: 3px;
			color:@gocyan;
    	}
    	select {
    		font-size:13px;
    	}
	}
}