.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.row {
  display: block;
  *zoom: 1;
}
.row:after,
.row:before {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.pad0 {
  padding: 0 !important;
}
.marg0 {
  margin: 0 !important;
}
.boxShadow0 {
  box-shadow: none !important;
}
.hidden {
  display: none !important;
}
.relative {
  position: relative;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}
.textCenter {
  text-align: center;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.boxShadowMeta {
  -webkit-box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}
.boxShadowMeta2 {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.boxShadowMeta3 {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
}
.boxShadowMetaR {
  -webkit-box-shadow: 0 -1px 0.5px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 -1px 0.5px rgba(0, 0, 0, 0.13);
  box-shadow: 0 -1px 0.5px rgba(0, 0, 0, 0.13);
}
.boxShadow2d {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 1px 0px white, 0px 0px 1px 1px white;
}
.buttonShadow {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.buttonShadow:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
}
.transitionAll {
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -ms-transition-property: all;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.transitionQuiz {
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-property: all;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property: all;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.transitionColor {
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -ms-transition-property: color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease;
  -o-transition-property: color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.transitionBorColor {
  -webkit-transition-property: border-color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: border-color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -ms-transition-property: border-color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease;
  -o-transition-property: border-color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease;
  transition-property: border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.transitionBgColor {
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -ms-transition-property: background-color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease;
  -o-transition-property: background-color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.transitionBgFgBorColor {
  -webkit-transition-property: background-color, color, border-color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-property: background-color, color, border-color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-property: background-color, color, border-color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-property: background-color, color, border-color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-in-out;
  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.metacard-trans {
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.metacard-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.metacard-1:hover,
.metacard-1:focus {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.metacard-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.metacard-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.metacard-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.metacard-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.colParent:after,
.colParent:before {
  content: "";
  display: table;
}
.colParent:after {
  clear: both;
}
.reverseHorizontal {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.reverseHorizontal2 {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  /*IE*/
  filter: fliph;
  /*IE*/
}
.verAlignParent {
  display: table;
  width: 100%;
  height: 100%;
}
.verAlignChild {
  display: table-cell;
  vertical-align: middle;
}
.whRatioChild {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.breakWord {
  word-break: break-all;
}
.dinamikKutuici {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.brightness {
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -ms-transition-property: all;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.brightness img {
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
  -o-filter: brightness(50%);
  -ms-filter: brightness(50%);
}
.brightness:hover img {
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
}
.imgtransition img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.imgtransition:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.imgtransyavas img.transyavas {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.imgtransyavas:hover img.transyavas {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
.sepia img {
  filter: sepia(1);
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  -o-filter: sepia(1);
  -ms-filter: sepia(1);
}
.sepia:hover img {
  filter: sepia(0);
  -webkit-filter: sepia(0);
  -moz-filter: sepia(0);
  -o-filter: sepia(0);
  -ms-filter: sepia(0);
}
/*** FLAT SELECT BOX ***/
.selectFlat {
  padding: 0;
  margin: 0;
  border: 0px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
}
.selectFlat select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.selectFlat select:focus {
  outline: none;
}
.ayrac5 {
  margin-bottom: 5px;
}
.ayrac5:after,
.ayrac5:before {
  content: "";
  display: table;
}
.ayrac5:after {
  clear: both;
}
.ayrac10 {
  margin-bottom: 10px;
}
.ayrac10:after,
.ayrac10:before {
  content: "";
  display: table;
}
.ayrac10:after {
  clear: both;
}
.ayrac15 {
  margin-bottom: 15px;
}
.ayrac15:after,
.ayrac15:before {
  content: "";
  display: table;
}
.ayrac15:after {
  clear: both;
}
.ayrac20 {
  margin-bottom: 20px;
}
.ayrac20:after,
.ayrac20:before {
  content: "";
  display: table;
}
.ayrac20:after {
  clear: both;
}
.ayrac25 {
  margin-bottom: 25px;
}
.ayrac25:after,
.ayrac25:before {
  content: "";
  display: table;
}
.ayrac25:after {
  clear: both;
}
.ayrac30 {
  margin-bottom: 30px;
}
.ayrac30:after,
.ayrac30:before {
  content: "";
  display: table;
}
.ayrac30:after {
  clear: both;
}
.ayrac35 {
  margin-bottom: 35px;
}
.ayrac35:after,
.ayrac35:before {
  content: "";
  display: table;
}
.ayrac35:after {
  clear: both;
}
